@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?odez19');
  src:  url('fonts/icomoon.eot?odez19#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?odez19') format('truetype'),
    url('fonts/icomoon.woff?odez19') format('woff'),
    url('fonts/icomoon.svg?odez19#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconlink{
  text-align: right;
  line-height: 140px;
  /*margin-top: 100px;*/
  font-size: 30pt;
}


a:link{
  color:#FFFFFF; 
  text-decoration:none; 
}

a:visited{
  color:#FFFFFF; 
  text-decoration:none; 
}

a:hover{
  color:#0799f2; 
  text-decoration: none;
}

a:active { 
  color:#FFFFFF; 
  text-decoration:none; 
} 

.me{
   color:#FF458C; 
}


.icon-zhihu2:before {
  content: "\e908";
}
.icon-behance:before {
  content: "\e900";
}
.icon-dribble:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-tumblr:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-weibo:before {
  content: "\e906";
}
.icon-zhihu:before {
  content: "\e907";
}
.icon-music:before {
  content: "\1f4a1";
}
.icon-book:before {
  content: "\e91f";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-location:before {
  content: "\e947";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-tongue:before {
  content: "\e9e3";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-instagram2:before {
  content: "\ea92";
}
.icon-twitter2:before {
  content: "\ea96";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance2:before {
  content: "\eaa8";
}
.icon-github2:before {
  content: "\eab0";
}
.icon-tumblr2:before {
  content: "\eab9";
}
.icon-pinterest:before {
  content: "\ead1";
}
